@font-face {
    font-family: "ShareTechMono-Regular";
    src: url(font/ShareTechMono-Regular.ttf) format(truetype);
}
body {
    
    background-color: rgb(28 51 67);
    margin: 0;
}
p {
    font-family: "ShareTechMono-Regular";
}
h1,h2,h3 {
    font-family: Arial, Helvetica, sans-serif;
}
h1,
h2, 
h3,
p, 
li, 
.card a,
a {
    color: #B9F9FF;
}
                 /* NAV */
#logo {
    margin-left: 5px;
    width: 70px;
}
nav {
    /* logo-color B9F9FF */
    display: flex;
    justify-content: space-between;
    z-index: 2;
    padding: 5px;
    background-color: #325b6b;
    top: 0;
    position: sticky;
}
ul {
    margin-bottom: 2px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: flex-end;
}
.title-section {
    text-align: center;
    font-size: 2em;
    margin: 100px;
}
                /* INTRO */
.intro {
    width: 700px;
    display: flex;
    flex-direction: column;
    margin: auto;
}
h1 {
    margin: 0;
    font-size: 4em;
}
             /* ABOUT SECTION */
.about-container {
    display: flex;
    justify-content: center;
}
.about-section img {
    border-radius: 250px;
    width: 500px;
    /* display: block;
    margin: 20px auto; */
}
.about-description {
    /* max-width: 500px; */
    margin: auto -40px;
    border-radius: 10px;
    border: 2px solid rgb(178, 178, 178);
    padding: 25px;
    background-color: rgba(59, 59, 59, 0.89);
}


             /* WORKS SECTION */
/* .card-row {
    display: flex;
    flex-wrap: wrap;
} */
.card img {
    width: 500px;
    margin: 25px;
}
.card p {
    margin: 0;
}
.card h3 {
    align-self: flex-end;
    border-radius: 10px;
    border: 2px solid rgb(178, 178, 178);
    padding: 25px;
    background-color: rgba(59, 59, 59, 0.89);
    z-index: 1;
    position: absolute;
    margin-top: -40px;
}
.card {
    border-radius: 10px;
    max-width: 550px;
    background-color: #325b6b;
    display: flex;
    flex-direction: column;
    margin: 150px auto;
}
.p-and-github {
    border-radius: 10px;
    border: 2px solid rgb(178, 178, 178);
    margin-top: 280px;
    max-width: 430px;
    background-color: rgba(59, 59, 59, 0.89);
    position: absolute;
    z-index: 1;
    padding: 25px;
}
                                            /* CONTACT  */
.contacts {
    display: flex;
    justify-content: center;
}
.contacts a i {
    margin: 20px;
}     
.email-add {
    text-align: center;
    margin-bottom: 100px;
}                                     