body {
    
    background-color: rgb(28 51 67);
    margin: 0;
}
h1,
h2, 
p, 
li, 
.card a {
    color: #B9F9FF;
}
                 /* NAV */
#logo {
    margin-left: 5px;
    width: 70px;
}
nav {
    /* logo-color B9F9FF */
    z-index: 2;
    padding: 5px;
    background-color: #325b6b;
    top: 0;
    position: sticky;
}
ul {
    margin-bottom: 2px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: flex-end;
}
.title-section {
    text-align: center;
}
             /* ABOUT SECTION */
.about-section img {
    border-radius: 250px;
    width: 500px;
    display: block;
    margin: 20px auto;
}
.about-description {
    max-width: 500px;
    margin: 5px auto;
    border-radius: 10px;
    border: 2px solid rgb(178, 178, 178);
    padding: 25px;
    background-color: rgba(59, 59, 59, 0.89);
}


             /* WORKS SECTION */
.card-row {
    display: flex;
    flex-wrap: wrap;
}
.card img {
    width: 500px;
    margin: 20px;
}
.card p {
    margin: 0;
}
.card h2 {
    align-self: flex-end;
    border-radius: 10px;
    border: 2px solid rgb(178, 178, 178);
    padding: 25px;
    background-color: rgba(59, 59, 59, 0.89);
    z-index: 1;
    position: absolute;
    margin-top: -40px;
    /* margin-left: 450px; */
}
.card {
    border-radius: 10px;
    max-width: 550px;
    background-color: rgb(151, 152, 152);
    display: flex;
    flex-direction: column;
    margin: 150px
}
.p-and-github {
    border-radius: 10px;
    border: 2px solid rgb(178, 178, 178);
    /* margin-left: -30px; */
    margin-top: 280px;
    max-width: 330px;
    background-color: rgba(59, 59, 59, 0.89);
    position: absolute;
    z-index: 1;
    padding: 25px;
}